<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662967388694-rqqj9925uepupv1hakevq6sijb5a1abr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662967388694-rqqj9925uepupv1hakevq6sijb5a1abr</string>
	<key>API_KEY</key>
	<string>AIzaSyCXN6Mgjwqy_Sfia6VOTjhZTBaSWAArHtM</string>
	<key>GCM_SENDER_ID</key>
	<string>662967388694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-flutterapp-team3</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-flutterapp-team3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662967388694:ios:2f013aec718c67f0634337</string>
</dict>
</plist>